# Created by .ignore support plugin (hsz.mobi)
build
dist
dist.bak
*.txt
test*.py
GameAssist.py
YugiohTool.spec
/Chongshi.png
/图片/
/Test/
/api-js.dll
/api-cd.dll
/api-cs.dll
/api-h.dll
/api-zd.dll
/api-drw.dll
/api-xyb.dll
/api-jd.dll
/api-qr.dll
/QueRen.png
/CaiDan.png
/Hao.png
/JueDou.png
/XiaYiBu.png
/Jieshu.png
/chacha.png
CaiDan_png.py
Chongshi_png.py
FP.spec
Hao_png.py
JiaSu.png
Jieshu_png.py
JueDou.dll
JueDou_png.py
QueRen_png.py
XiaYiBu_png.py
YugiohTool/
YugiohToolDemo.spec
__pycache__/
chacha.png
csmjuedou.png
duorenwu.png
duorenwu_png.py
favicon.ico
houshou.png
houshou_png.py
juedouwang.png
qd.png
shenji.png
tzjs.png
venv/Include/
xianshou.png
xianshou_png.py
zhongduan.png
zhongduan_png.py
