# Created by .ignore support plugin (hsz.mobi)
build
dist
dist.bak
*.txt
test*.py
GameAssist.py
YugiohTool.spec
/Chongshi.png
/图片/
/Test/
/api-drw.dll
CaiDan_png.py
Chongshi_png.py
FP.spec
Hao_png.py
JiaSu.png
Jieshu_png.py
JueDou.dll
JueDou_png.py
QueRen_png.py
XiaYiBu_png.py
YugiohTool/
YugiohToolDemo.spec
__pycache__/
api-cd.dll
api-cs.dll
api-drw.dll
api-h.dll
api-jd.dll
api-js.dll
api-qr.dll
api-xyb.dll
api-zd.dll
chacha.png
csmjuedou.png
duorenwu.png
duorenwu_png.py
favicon.ico
heimonv.ico
houshou.png
houshou_png.py
juedouwang.png
qd.png
shenji.png
tzjs.png
venv/Include/
xianshou.png
xianshou_png.py
zhongduan.png
zhongduan_png.py
/Yugiohdemo.py
/xiuxian_png.py
/zhandou_png.py
/zhujiemian_png.py
/shijuedou_png.py
/paiming_png.py
/lvse_png.py
/kc_png.py
/fanhui_png.py
/kunnan_png.py
/leidian4.0.spec
/zidongjuedou_png.py
/zudui_png.py
/Test/config.ini
YugiohToolSteam.spec
